h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-style: inherit;
}

.parag {
    font-family: cursive;
    font-style: inherit;
}

a {
    font-style: oblique;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}